[alias]
    st = status --short
    cm = commit
    ca = commit --amend
    br = branch
    co = checkout
    df = diff
    lgg = log -p --pretty=fuller --abbrev-commit
    lg = log --all --decorate --oneline --graph
    up = pull --rebase

[user]
    email = huu2uan@gmail.com
    name = q